@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
body {
    font-size: 10px;
    background-color: #181818;
}

/*---- Generic ----*/

h1, h2, h3, h4, h5, h6 {
    color: #1e7e34;
    font-family: "Libre Baskerville", sans-serif;
    padding: 10px;
}

.main-text {
    font-family: "Cabin", sans-serif;
    font-size: 1rem;
    color: darkgray;
    padding: 15px;

}

.main-content {
    border-top: 1px solid #1e7e34;
    overflow: hidden;
    padding-bottom: 10px;
}

.format-heading {
    padding: 10px;
}

/*---- Special margins & Positions ----*/
.uppercase {
    text-transform: uppercase;
}

.hr-style {
    border: 1px solid #1e7e34;
    max-width: 25%;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*---- Header----*/

header {
    border-bottom: 1px solid #1e7e34;
    margin-bottom: 10px;
}

.navigation-container {
    overflow: hidden;
}

#logo {
    height: 150px;
    max-width: 150px;
    border-radius: 50%;
    border: 1px solid #06f806;
}

.navbar .nav-item a {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar .navbar-toggler {
    border: 0;
}
.moto-quote {
    font-size: 1rem;
    max-width: 50%;
    float: right;
}

/*---- Footer ----*/
footer {
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px solid #1e7e34;
    overflow: hidden;
}

.social-links li i {
    font-size: 4.5rem;
    color: darkgray;
    padding: 10px;
}

.social-links li i:hover {
    color: #1e7e34;
}


.events {
    font-size: 1.5rem;
    color: darkgrey;
}

.events:hover {
    font-size: 1.5rem;
    color: #1e7e34;
}

/*---- Home ----*/

#club-photo{
    padding-right: 15px;
}

/*---- Events Page ----*/

.align-button {
    margin: auto;
}

.carosel-container {
    overflow: hidden;
    max-width: 50%;
    min-height: 337px;
    margin: auto;
}

.carousel {
    max-width: 100%;
    max-height: 100%;
}

.yt-video iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*---- Gallery Page ----*/
.gallery-img img{
    max-width: 100%;
    padding: 4px;
}

/*---- Contact Page ----*/

.cont-form {
    background-color: rgba(12, 240, 12, 0.2);
    border-radius: 5%;
    padding: 50px;
    margin: 20px;
}
 