@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
body {
    font-size: 10px;
}

/*---- Generic ----*/

.heading-title {
    color: #0AF505;
    font-family: "Libre Baskerville", sans-serif;
    font-size: 2rem;
    padding: 20px 0 0 20px;
    text-align: center;
}
.main-text {
    font-family: "Cabin", sans-serif;
    font-size: 1rem;
    color: darkgray;
    max-width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.section-content {
    border-top: 1px solid #0AF505;
    overflow: hidden;
    padding-bottom: 10px;
}

.buy-button {
    position: relative;
}

/*---- Colours ----*/

header {
    background-color: #000;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #0AF505;
}

.section-bg-color {
    background-color: #000;
}

section {
    background-color: #000;
}

.green-text {
    color: #0AF505;
}

/*---- Special margins & Positions ----*/
.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.hr-style {
    border: 1px solid #0AF505;
    max-width: 25%;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*---- Heading----*/
.navigation-container {
    overflow: hidden;
}

#logo {
    height: 150px;
    max-width: 150px;
}

.navbar .nav-item a {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar .navbar-toggler {
    border: 0;
}
.moto-quote {
    font-size: 1rem;
    max-width: 50%;
    float: right;
}

/*---- Footer ----*/
#footer-details {
    background-color: #000;
    color: darkgray;
    border-top: 1px solid #0AF505;
    overflow: hidden;
}

.social-links li i {
    font-size: 4.5rem;
    color: darkgray;
    padding: 10px;
}

.social-links li i:hover {
    color: #0AF505;
}

.footer-element {
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 300;
    color: #0AF505;
    padding-top: 5px;
    margin: auto;
    text-align: center;
}
.events{
    font-size: 1.5rem;
}

/*---- Home Page ----*/

#club-photo {
   max-width: 100%; 
   padding: 20px;
   margin-top: 20px 0 10px;
}

.home-content {
    margin-left: 10px;
}

/*---- Events Page ----*/

.align-button {
    margin: auto;
}

.carosel-container {
    overflow: hidden;
    max-width: 50%;
    min-height: 337px;
    margin: auto;
}

.carousel {
    max-width: 100%;
    max-height: 100%;
}

.yt-video iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*---- Gallery Page ----*/
.gallery-one img{
    max-width: 100%;
}

.gallery-two img{
    max-width: 100%;
}

/*---- Contact Page ----*/

.cont-form {
    background-color: rgba(12, 240, 12, 0.2);
    border-radius: 5%;
    padding: 50px;
    margin: 20px;
}


 @media (min-width: 572px) and (max-width: 694px){
    .navbar .nav-item a {
        font-weight: bold;
        font-size: 1rem;
    } 
 }
 